@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
  color: var(--foreground);
  font-family: Outfit;
}

.loader{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.theme_background{
    background-color: #27aa83 !important;
}

.theme_text{
    color: #27aa83 !important;
}

.text_gray{
    color:  rgb(240, 237, 237) !important;
}

.text_white{
    color:  white !important;
}

.text_black{
    color:  black !important;
}
